In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [3]:
import pandas as pd
df=pd.read_csv('/content/drive/My Drive/covid.csv')
df.dropna(axis=0,how='any',inplace=True)

In [4]:
df.head()

  Country/Region  Confirmed  ...  1 week % increase             WHO Region
0    Afghanistan      34994  ...               4.17  Eastern Mediterranean
1        Albania       3752  ...              20.80                 Europe
2        Algeria      20770  ...              19.73                 Africa
3        Andorra        862  ...               0.82                 Europe
4         Angola        576  ...              49.22                 Africa

[5 rows x 15 columns]

* ttest_1samp is the method imported from stats module which is used for two tailed test.
* Return values are t-statistic and p-value.
* Average of confirmed cases is assumed as 10000 (Null hypothesis) which is 72000 approximately according to the dataset.
* Since our assumption is false,Null hypothesis is rejected.

In [13]:
from scipy import stats
results=stats.ttest_1samp(df['Confirmed'],10000)
print("t-statistic and probability value are:",results[0],results[1])
if results[1]<0.05:
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

t-statistic and probability value are: 2.764047914297747 0.006283350981639868
reject null hypothesis